body{
	color: black;
	margin: 0;
	padding: 0;
	background: url(https://i.pinimg.com/originals/fd/7a/96/fd7a9676d976dc8845118d875bbddd63.jpg);
	background-repeat: repeat;
 	background-size: cover;
 	background-position: center;

 	height: calc(100vh - 80px);
	
    font-family: serif;
}
.navbar ul{
    list-style: none;
    background: #FAE5D2;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
	display:  inline-block;
}
.navbar a{
	 text-decoration: none;
	 color: #E9967A;
	 width:100px;
	 display:block;
	 padding: 25px 20px;
	 font-size: 15px;
	 text-transform: uppercase;
	 font-weight: bold;
	 text-align: center;
 }
 h2
{
	font-family: PT Sans;
	color: #B22222;
	font-size: 17px;

}

h3 {
	font-family: monospace;
	color: #B22222;
	font-size: 28px;
}

h5 {
	font-family: Oleo Script;
	color: #D2691E;
	font-size: 25px;
}